{% extends 'application/base.html' %}
{% block content %}

<div class="container">
  <div class="d-flex justify-content-center my-2">
    

    <a href={% url 'create-stock' %} type="button" class="btn btn-primary">
      Ajouter Stock
    </a>

  </div>
  <table id="stocksTable" class="table table-striped" style="width: 100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Action</th>
      </tr>
    </thead>
  </table>
</div>

<script>
  $(document).ready(function () {
    var table = $("#stocksTable").DataTable({
      processing: true,
      serverSide: true,
      ajax: "{% url 'stocks_list_json' %}",
      columns: [{ data: "id" }, { data: "product" }, { data: "quantity" }, { data: "action",searchable:false }],
      language: {
        processing: `Please Wait...`,
      },
      columnDefs: [
        {
          targets: -1, // Add column to the end of the table
          data: null, // Use the row data
          defaultContent: "<button>Edit</button><button>Delete</button>",
          // Render function to create the action buttons
          render: function (data, type, row, meta) {
            return `<a href='/stocks/edit/${row.id}' class='btn' style = "background-color: #ffca30; color: antiquewhite;margin-right:10px;">Modifier</a>
            <button onclick="deleteHandler('/stocks/delete/${row.id}')" class='btn 'style = "background-color: #0068b0; color: antiquewhite;">Supprimer</button>`;
          },
        },
      ],
    });
   
  });
</script>

{% endblock content %}