{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %} crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    {% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    
    <title> ImmoStock </title>
  </head>
  <body>
    {% include 'application/layouts/navbar.html' %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    {% block content %}
    {% endblock content %}
  </body>
  <p class="d-flex justify-content-center my-2" style="color:#7F123E;font-weight: bolder; font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;font-size: larger;"> &copy; Sablux 2023</p> 

    <script>
      function deleteHandler(url){
        console.log("delete clicked", url);
          Swal.fire({
            title: ' Êtes vous sure?',
            text: "La suppression sera définitive!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#7F123E',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Oui, supprimer!'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = url;
            }
          })
      }
    </script>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
    
  </script>
    <script
      src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</html>

